{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Unidad Educativa CERIT</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />

    <!--Importando CSS-->
    <link rel="stylesheet" href="{% static 'css/Master/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/EstudianteReporte/Trimestral.css' %}">

    <!--Importando jQuery-->
    <script src="{% static 'plantilla/assets/js/core/jquery-3.7.1.min.js' %}"></script>

    <!-- importando jquery validate -->
    <script src="{% static 'plantilla/assets/js/plugin/jquery.validate/jquery.validate.min.js'%}"></script>

    <!-- importando sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- importando font-awesome para las iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="icon" href="{% static 'plantilla/assets/img/kaiadmin/favicon.ico' %}" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="{% static 'plantilla/assets/js/plugin/webfont/webfont.min.js' %}"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["{% static 'plantilla/assets/css/fonts.min.css' %}"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'plantilla/assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'plantilla/assets/css/plugins.min.css' %}" />
    <link rel="stylesheet" href="{% static 'plantilla/assets/css/kaiadmin.min.css' %}" />


    <!-- CSS Just for demo purpose, don't include it in your project -->
    <!-- <link rel="stylesheet" href="{% static 'static/plantilla/assets/css/demo.css' %}" />-->

    <style>
        label.error {
            color: red;
        }

        .form-control.error {
            border: 1px solid red;
        }
    </style>

</head>

<body>      
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="navbar-brand" href="#"><img src="{% static 'img/logoCerit.png' %}" alt="" width="30%"></a>
          <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
          </button>
            <div class="collapse navbar-collapse justify-content-end " id="navbarNavDarkDropdown">
                <ul class="navbar-nav  ">
                    <li class="nav-item dropdown ">
                        
                        &nbsp;&nbsp;
                        <button class="btn btn-primary dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
                            Bienvenido, {{ nombre_estudiante }}
                        </button>
                        <ul class="dropdown-menu  dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#studentProfileModal">
                                <i class="fas fa-user-alt"></i> &nbsp; Perfil
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'cerrarSesion' %}"><i class="fas fa-sign-in-alt"></i> &nbsp; Cerrar sesón</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </nav>

    {% block body %}



    {% endblock %}

    <!-- Modal -->
    <div class="modal fade" id="studentProfileModal" tabindex="-1" aria-labelledby="studentProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="studentProfileModalLabel">Perfil del Estudiante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>Cedula:</strong> {{ estudiante.cedula }}</p>
                    <p><strong>Nombres:</strong> {{ estudiante.primer_nombre }} {{ estudiante.segundo_nombre }}</p>
                    <p><strong>Apellido Paterno:</strong> {{ estudiante.apellido_Paterno }}</p>
                    <p><strong>Apellido Materno:</strong> {{ estudiante.apellido_Materno }}</p>
                    <p><strong>Fecha de Nacimiento:</strong> {{ estudiante.fecha_nacimiento }}</p>
                    <p><strong>Teléfono:</strong> {{ estudiante.telefono }}</p>
                    <p><strong>Email:</strong> {{ estudiante.email }}</p>
                    <p><strong>Curso:</strong> {{ estudiante.curso }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    {%if messages%}
        {%for mensaje in messages%}
            {%if mensaje.tags == 'success'%}
                <script>
                    Swal.fire({
                        title: "Confirmado",
                        text: "{{mensaje}}",
                        icon: "success"
                    });
                </script>
            {%endif%}

        {%endfor%}

    {% endif %}
     
    <!--   Core JS Files   -->

    <script src="{% static 'plantilla/assets/js/core/popper.min.js' %}"></script>
    <script src="{% static 'plantilla/assets/js/core/bootstrap.min.js' %}"></script>

    <!-- jQuery Scrollbar -->
    <script src="{% static 'plantilla/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>

    <!-- Chart JS -->
    <script src="{% static 'plantilla/assets/js/plugin/chart.js/chart.min.js' %}"></script>

    <!-- jQuery Sparkline -->
    <script src="{% static 'plantilla/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js' %}"></script>

    <!-- Chart Circle -->
    <script src="{% static 'plantilla/assets/js/plugin/chart-circle/circles.min.js' %}"></script>

    <!-- Datatables -->
    <script src="{% static 'plantilla/assets/js/plugin/datatables/datatables.min.js' %}"></script>

    <!-- Bootstrap Notify -->
    <script src="{% static 'plantilla/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>

    <!-- jQuery Vector Maps -->
     <!--<script src="{% static 'plantilla/assets/js/plugin/jsvectormap/jsvectormap.min.js' %}"></script>
    <script src="{% static 'plantilla/assets/js/plugin/jsvectormap/world.js' %}"></script>-->

    <!-- Sweet Alert -->
    <script src="{% static 'plantilla/assets/js/plugin/sweetalert/sweetalert.min.js' %}"></script>

    <!-- Kaiadmin JS -->
    <script src="{% static 'plantilla/assets/js/kaiadmin.min.js' %}"></script>

    <!-- Kaiadmin DEMO methods, don't include it in your project! -->
    <!--<script src="{% static 'plantilla/assets/js/setting-demo.js' %}"></script>
    <script src="{% static 'plantilla/assets/js/demo.js' %}"></script>-->
    <script>
        $("#lineChart").sparkline([102, 109, 120, 99, 110, 105, 115], {
            type: "line",
            height: "70",
            width: "100%",
            lineWidth: "2",
            lineColor: "#177dff",
            fillColor: "rgba(23, 125, 255, 0.14)",
        });

        $("#lineChart2").sparkline([99, 125, 122, 105, 110, 124, 115], {
            type: "line",
            height: "70",
            width: "100%",
            lineWidth: "2",
            lineColor: "#f3545d",
            fillColor: "rgba(243, 84, 93, .14)",
        });

        $("#lineChart3").sparkline([105, 103, 123, 100, 95, 105, 115], {
            type: "line",
            height: "70",
            width: "100%",
            lineWidth: "2",
            lineColor: "#ffa534",
            fillColor: "rgba(255, 165, 52, .14)",
        });
    </script>

</body>

</html>